@model AppSaresp_2024.Models.Professor

@{
    ViewData["Title"] = "DetalhesProfessor";
}

<h1>Detalhes do Professor</h1>
<br />
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.IdProfessor) </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.IdProfessor)  </dd>

        <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.nome)  </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.nome) </dd>

        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.cpf) </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.cpf)</dd>

        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.rg) </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.rg)</dd>

        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.telefone) </dt>
        <dd class="col-sm-10"> @Html.DisplayFor(model => model.telefone)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.data_nasc)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.data_nasc) </dd>
    </dl>
</div>
<br />
<div>
    @* <button type="button" class="btn btn-warning">
    @Html.ActionLink("Editar", "AtualizarProfessor", new { id = Model.IdProfessor })
    </button> *@
    <a class="btn btn-primary" asp-action="AtualizarProfessor">Editar</a>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    @* <button type="button" class="btn btn-secondary">
    @Html.ActionLink("Voltar", "Index")
    </button> *@
</div>
