@model IEnumerable<AppSaresp_2024.Models.Professor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Professores</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"> @Html.DisplayNameFor(model => model.IdProfessor) </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.nome) </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.cpf)  </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.rg)  </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.telefone)  </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.data_nasc) </th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Professor professor in Model)
            {
                <tr>
                    <td>@professor.IdProfessor</td>
                    <td>@professor.nome</td>
                    <td>@professor.cpf</td>
                    <td>@professor.rg</td>
                    <td>@professor.telefone</td>
                    <td>@professor.data_nasc.ToString("dd/MM/yyyy")</td>
                    <td>
                        <button type="button" class="btn btn-warning botaoatualiza">
                            @Html.ActionLink("Editar", "AtualizarProfessor", new { id = professor.IdProfessor })
                        </button>

                        <button type="button" class="btn btn-secondary botaodetalhes">
                            @Html.ActionLink("Detalhes", "DetalhesProfessor", new { id = professor.IdProfessor })
                        </button>

                        <button type="button" class="btn btn-danger botaoexcluir">
                            @Html.ActionLink("Excluir", "ExcluirProfessor", new { id = professor.IdProfessor },
                                     new { onclick = "return confirm('Deseja realmente desativar?');" })
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p><a class="btn btn-primary" asp-action="CadastrarProfessor" asp-controller="Professor">Cadastrar</a></p>
